<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.puissancequatre"
    android:versionCode="1"
    android:versionName="1.0" >

 <uses-sdk
    android:minSdkVersion="8"
    android:targetSdkVersion="11" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.puissancequatre.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>  
        </activity>
        
        <activity
            android:name="com.puissancequatre.OnePlayer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_play"
            android:theme="@style/FullscreenTheme" >
        </activity>
        
  		<activity
            android:name="com.puissancequatre.TwoPlayers"
            android:label="@string/title_activity_play" >
        </activity>
        
        <activity
            android:name="com.puissancequatre.Score"
            android:label="@string/title_activity_play" >
        </activity>
        
 		<!-- ????   -->
        <activity android:name="com.puissancequatre.PlayActivity"
            android:label="@string/title_activity_play"
            android:parentActivityName="com.puissancequatre">
         <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.puissancequatre" />
        </activity>
        </application>
        
</manifest>